@charset "UTF-8";

body {
	height: 100%;
	background: url(../images/myself/bgs.jpg);
}

.banner {
	width: 100%;
	height: 4.06rem;
}
.banner>img {
	width: 100%;
	height: 100%;
}


/* goods-all */
.goods-all {
	padding: 0 .1rem 1.5rem;
	margin-top: .3rem;
}
.goods-list {
	background-color: #fff;
	border-radius: .2rem;
	padding-bottom: .4rem;
}
.goods-list>li {
	padding-top: .4rem;
	height: 2.16rem;
}
.list-left {
	width: 2.12rem;
	height: 2.16rem;
	margin: 0 .1rem 0 .03rem;
}
.list-left>img {
	width: 100%;
	height: 100%;
}
.list-center {
	height: 2.16rem;
	box-sizing: border-box;
	padding-top: .3rem;
	width: 3.3rem;
}
.list-center>h3 {
	width: 3rem;
	height: .54rem;
	border-bottom: 1px solid #333;
	font: .3rem/.54rem "微软雅黑";
	color: #333;
}
.attend-persons {
	margin-top: .2rem;
	height: .64rem;
}
.attend-persons>img {
	width: .64rem;
	height: .64rem;
	border-radius: 50%;
}
.attend-persons>p {
	font: .22rem/.64rem "微软雅黑";
	color: #333;
	margin-left: .3rem;
}
.list-center>p {
	margin-top: .1rem;
	font: .22rem/.38rem "微软雅黑";
	color: #333;
}
.list-center>p>span {
	color: #c62a35;
	font-size: .24rem;
	font-family: Constantia, Georgia;
	font-weight: bold;
}
.list-center>p>span:nth-of-type(1) {
	text-decoration: line-through;
}
.list-right {
	width: 1.5rem;
	padding-top: .42rem;
}
@keyframes swing {
	0% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(45deg);
	}
}
.red-btn {
	display: block;
	width: 1.18rem;
	height: .92rem;
	margin: 0 auto;
	animation: 700ms swing infinite alternate both;
}
.bargain-btn {
	display: block;
	width: 1.8rem;
	height: .6rem;
	margin-top: .2rem;
}


/* error-tips */
.error-tips {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 5rem;
	height: .8rem;
	background-color: rgba(0, 0, 0, .6);
	margin: -0.4rem 0 0 -2.5rem;
	color: #fff;
	font: .3rem/.8rem "微软雅黑";
	text-align: center;
	border-radius: .2rem;
	display: none;
}


/* get-success */
.get-success {
	position: fixed;
	top: 50%;
	left: .7rem;
	right: .7rem;
	background-color: #fff;
	z-index: 500;
	border-radius: .2rem;
	margin-top: -1.4rem;
	display: none;
}
.get-success>p {
	text-align: center;
	font: .34rem/1.6rem "微软雅黑";
	color: #010101;
	height: 1.6rem;
}
.get-success>p>span {
	color: #fe7756;
	font-weight: bold;
}
.get-success>a {
	display: block;
	text-align: center;
	height: 1.1rem;
	font: .3rem/1.1rem "微软雅黑";
	color: #2b94fd;
	border-top: 1px solid #dadada;
}




























































